// Font 
@font-face {
  font-family: "main-font";
  src: url(../../assets/fonts/Inter.ttf);
}

$main-font: "main-font", sans-serif;

// Colors
$main-color : #000000;

// Sizes
$navigation-height : 80px;

